<!-- transactions/templates/transactions/transaction_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Transaction List</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Transaction List</h1>
    <ul>
        {% for transaction in transactions %}
            <li>
                {{ transaction.transaction_name }} - {{ transaction.transaction_amount }}
                <a href="{% url 'edit_transaction' transaction.transaction_id %}">Edit</a>
                <a href="{% url 'delete_transaction' transaction.transaction_id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Summary</h2>
    <p>Account Balance: {{ total_transaction_value }}</p>

    <h2>Add New Transaction</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Transaction</button>
    </form>
    {% else %}
    <h1>Please login to view this content</h1>
    {% endif %}

</body>
</html>