{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
<!DOCTYPE html>
<html>
    <body>
        <h1>Username: {{ user.username }} {{ user }} !</h1>
        {% if user.is_authenticated %}
            <ul>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        href="{% url 'transactions/' %}">Transactions</a>
                </li>
            </ul>
        {% else %}
            <ul> 
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_login' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        href="{% url 'transactions/' %}">Transactions</a>
                </li>
            </ul>
        {% endif %}
        <h1 class="heading">Expense Tracker</h1>
        <p class="home-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat exercitationem, possimus, repellendus fugit quod ut quia, velit animi dolores beatae laudantium recusandae perspiciatis optio qui aperiam nostrum unde fuga repudiandae.</p>
    </body>
</html>