{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
<!DOCTYPE html>
<html>
    <body>
        <nav>
            <a class="nav-link" href="{% url 'transactions' %}">Transactions</a>
            <a class="nav-link" href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
            <p>You are logged in as: {{ user.username }} {{ user }}</p>
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            {% else %}
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            {% endif %}

        </nav>
        {% if user.is_authenticated %}
        <h1>You are logged in as: {{ user.username }} {{ user }} </h1>
            <ul>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        href="{% url 'transactions' %}">Transactions</a>
                </li>
            </ul>
        {% else %}
            <ul> 
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_login' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        href="{% url 'transactions' %}">Transactions</a>
                </li>
            </ul>
        {% endif %}
        <h1 class="heading">Expense Tracker</h1>
        <p class="home-text">This is an expense management tool used to keep track of expenses.</p>
    </body>
</html>